[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
pytz = "==2019.2"
python-slugify = "==3.0.3"
rcssmin = "==1.0.6"
argon2-cffi = "==19.1.0"
redis = "==3.3.8"
celery = "==4.3.0"
django-celery-beat = "==1.5.0"
django-environ = "==0.4.5"
django-model-utils = "==3.2.0"
django-allauth = "==0.40.0"
django-crispy-forms = "==1.7.2"
django-compressor = "==2.3"
django-redis = "==4.10.0"
djangorestframework = "==3.10.3"
coreapi = "==2.3.3"
Django = "==2.1.7"
Pillow = "==9.3.0"
django-celery-email = "==2.0.1"
daphne = "==2.2.5"
mysqlclient = "==1.4.2.post1"
django-contrib-comments = "==1.9.1"
django-markdownx = "==2.0.28"
channels = "==2.1.7"
sorl-thumbnail = "==12.5.0"
django-taggit = "==1.1.0"
channels-redis = "==2.3.3"
awesome-slugify = "==1.6.5"
python3-openid = "==3.1.0"
requests-oauthlib = "==1.2.0"
requests = "==2.21.0"
django-haystack = "==2.8.1"
elasticsearch = "==2.4.1"
uWSGI = "==2.0.18"
django-debug-toolbar = "==1.11"

[requires]
python_version = "3.7"
